<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <aside class="sidebar" id="sidebar">
      <a href="../pages/dashboard.html" class="logo list-item">
        <img src="../img/logo.png" alt="Logo Kostku" />
      </a>

      <hr class="line-1" />
      <ul class="menu">
        <li class="list-item dashboard">
          <a href="../pages/dashboard.html" class="menu-item">
            <img src="../img/dashboard-icon.png" />
            <span>Dashboard</span>
          </a>
        </li>

        <li class="list-item penghuni">
          <a href="../pages/penghuni.html" class="menu-item">
            <img src="../img/penghuni-icon.png" />
            <span>Penghuni</span>
          </a>
        </li>

        <li class="list-item kamar">
          <a href="../pages/kamar.html" class="menu-item">
            <img src="../img/kamar-icon.png" />
            <span>Kamar</span>
          </a>
        </li>

        <li class="list-item pembayaran">
          <a href="../pages/pembayaran.html" class="menu-item">
            <img src="../img/pembayaran-icon.png" />
            <span>Pembayaran</span>
          </a>
        </li>

        <li class="list-item pengaduan">
          <a href="../pages/pengaduan.html" class="menu-item">
            <img src="../img/pengaduan-icon.png" />
            <span>Pengaduan</span>
          </a>
        </li>
      </ul>
      <hr class="line-2" />

      <a href="../login.html" class="menu-item"
        ><div class="logout-btn list-item">
          <img src="../img/logout-icon.png" alt="Logo Logout" />
          <span>Logout</span>
        </div></a
      >
    </aside>
    <script src="../js/main.js" defer></script>
  </body>
</html>
