<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <aside class="sidebar">
      <a href="#" class="close-btn">
        <img src="../img/close-btn.png" alt="" />
      </a>
      <hr />
      <ul class="menu">
        <li class="menu-item dashboard active">
          <img src="../img/dashboard-icon.png" alt="" />
          <span>Dashboard</span>
        </li>
        <li class="menu-item penghuni">
          <img src="../img/penghuni-icon.png" alt="" />
          <span>Penghuni</span>
        </li>
        <li class="menu-item kamar">
          <img src="../img/kamar-icon.png" alt="" />
          <span>Kamar</span>
        </li>
        <li class="menu-item pembayaran">
          <img src="../img/pembayaran-icon.png" alt="" />
          <span>Pembayaran</span>
        </li>
        <li class="menu-item pengaduan">
          <img src="../img/pengaduan-icon.png" alt="" />
          <span>Pengaduan</span>
        </li>
      </ul>
      <hr />
      <a href="/" class="logo">
        <img src="../img/logo.png" alt="Logo" />
      </a>

      <div href="#" class="logout-btn">
        <img src="../img/logout-icon.png" alt="" />
        <span>Logout</span>
      </div>
    </aside>
  </body>
</html>
