<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <!-- TOPBAR -->

    <header class="topbar topbar-user">
      <div class="left">
        <button id="burger-btn" class="burger-btn">☰</button>
      </div>

      <div class="right">
        <img src="../img/avatar.png" class="avatar" />
        <span class="user">Admin</span>
      </div>
    </header>
  </body>
</html>
